* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 450px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  background-color: rgb(231, 230, 230);
  border-radius: 10px;
  padding: 50px 0 50px 0;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(209, 207, 207);
}

#progress {
  margin-top: 10px;
}

.card-container {
  perspective: 1000px;
  width: 100%;
  height: 250px;
  margin-top: 25px;
}

#card-inner {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.6s;
}

#card-inner.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  border: 1px solid rgb(205, 204, 204);
  padding: 10px;
}

#card-back {
  transform: rotateY(180deg);
}

.navigation-btns {
  margin-top: 35px;
}

#prev-btn,
#next-btn,
#delete-btn,
#edit-btn {
  padding: 15px;
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(205, 201, 201);
  transition: background-color 0.5s;
}

#prev-btn {
  margin-right: 7px;
}

#delete-btn,
#edit-btn {
  margin-left: 7px;
}

#prev-btn:hover,
#next-btn:hover,
#delete-btn:hover,
#edit-btn:hover {
  background-color: rgb(174, 169, 169);
}

#prev-btn:active,
#next-btn:active,
#delete-btn:active,
#edit-btn:active {
  color: white;
  background-color: rgb(57, 47, 47);
  transition: none;
}

.card-form-container {
  margin-top: 18px;
}

#card-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
